<h1>{{titulo}}</h1>
{{#if admin}}
<div class="container">
      <h2>Agregar Comentario</h2>
      <form method="post" action="api/comentario">
        <div class="form-group">
          <input type="text" class="form-control" id="nombre" name="nombre" required>
          <input type="number" class="form-control" id="puntaje" name="puntaje" min=0 max=5  required>
          <input  type="hidden" class="form-control" id="id" name="id"  required>
          <input  type="hidden" class="form-control" id="id_cine" name="id_cine" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </div>
{{/if}}
<ul class="list-group">
  {{#each comentario}}
  <p>{{comentario}}</p>
  <p>{{puntaje}}</p>
  {{/each}}
</ul>