<h1>{{titulo}}</h1>
<ul class="list-group">
  {{#each comentario}}
  <p>{{comentario}}</p>
  <p>{{puntaje}}</p>
  <button type="submit" value="{{id_comentario}}" class="btn btn-lg borrarComentario">BORRAR</button>
  {{/each}}
</ul>